<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.2" targetFramework="net45" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net45" />
  <package id="jQuery" version="2.0.3" targetFramework="net45" />
  <package id="Magnum" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Cors" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.SelfHost" version="2.1.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="StoryQ" version="2.0.5" targetFramework="net40" />
</packages>