<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="AppStatsFileQueuePublishCheckConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.AppStats.FileQueue.AppStatsFileQueuePublishCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>AppStatsFileQueuePublishCheck</FriendlyId>
        <Enabled>false</Enabled>
        <QueueFolder>appstats</QueueFolder>
        <Uri>http://localhost:802/Wolfpack</Uri>
      </parameters>
    </component>

    <component id="AppStatsFileQueuePublishBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>AppStatsFileQueuePublishCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

  </components>
</configuration>
