<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- START: BINDINGS -->
		<!-- This demonstrates the old style manual binding - the preferred method is 
				 to use the config folder binding convention eg: place your health check config
				 file in the the appropriate folder under the config\checks folder; to run your 
				 check every minute place it in the config\checks\everyminute folder. You can create
				 more folders under config\checks, just make sure you have a component with a matching
				 id in the schedule.castle.config file. -->

		<!-- Demo walk-thru component
		<component id="HelloWorldCheckBindingConfig"
					 lifestyle="singleton"
					 type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
			<parameters>
				<HealthCheckConfigurationName>MyHelloWorldCheckConfig</HealthCheckConfigurationName>
				<ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
			</parameters>
		</component>
		 -->
		
		<!-- END: BINDINGS -->
	</components>
</configuration>