<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: BINDINGS -->

    <!-- Demo walk-thru component
    <component id="HelloWorldCheckBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>MyHelloWorldCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
     -->
    
    <component id="WolfpackExeFileInfoBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WolfpackExeFileInfoConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="WolfpackFolderInfoBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WolfpackFolderInfoConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>Every90Seconds</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="OutputQueueInfoBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WolfpackOutputQueueInfoConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="ErrorQueueEmptyBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WolfpackErrorQueueEmptyConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>Every90Seconds</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="IsNotepadRunningBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>IsNotepadRunning</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
        
    <component id="IsWolfpackRunningBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>IsWolfpackRunning</HealthCheckConfigurationName>
        <ScheduleConfigurationName>Weekdays9to5</ScheduleConfigurationName>
      </parameters>
    </component>
    
    
    <component id="WolfpackDatabaseHasResultsBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WolfpackDatabaseHasResults</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    
    <component id="WindowsServicesAreRunningBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WindowsServicesAreRunning</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    
    <component id="WindowsServicesStartupTypesCorrectBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>WindowsServicesStartupTypesCorrect</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    
    <component id="UrlPingMySitesBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>UrlPingMySites</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="LocalCpuMonitorBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>LocalCpuMonitor</HealthCheckConfigurationName>
        <ScheduleConfigurationName>Every5Seconds</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="SystemDriveFreeSpaceBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>SystemDriveFreeSpace</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <!-- END: BINDINGS -->
  </components>
</configuration>