<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- START: CHECK CONFIGURATIONS -->
    
    <!-- Demo walk-thru component
    <component id="MyHelloWorldCheckConfig"
         lifestyle="singleton"
         type="HelloWorldHealthCheck.HelloWorldCheckConfig, HelloWorldHealthCheck">
      <parameters>
        <FriendlyId>HelloWorldCheck</FriendlyId>
        <Enabled>true</Enabled>
        <MyCustomSetting>Hello World!!</MyCustomSetting>
      </parameters>
    </component> 
     -->
    
    <component id="WolfpackExeFileInfoConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.FileInfoCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>FileInfoCheck</FriendlyId>
        <Enabled>false</Enabled>
        <FileLocation>Wolfpack.agent.exe</FileLocation>
      </parameters>
    </component>
    
    <component id="WolfpackFolderInfoConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.FolderInfoCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>FolderInfoCheck</FriendlyId>
        <Enabled>false</Enabled>
        <FolderLocation></FolderLocation>
      </parameters>
    </component>
    
    <component id="WolfpackOutputQueueInfoConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.MsmqQueueInfoCheckConfig, Wolfpack.Core">
      <parameters>        
        <FriendlyId>WolfpackOutputQueueInfo</FriendlyId>
        <Enabled>false</Enabled>
        <QueueName>.\Private$\Wolfpackoutput</QueueName>        
      </parameters>
    </component>
    
    <component id="WolfpackErrorQueueEmptyConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.MsmqQueueNotEmptyCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WolfpackErrorQueueEmpty</FriendlyId>
        <Enabled>false</Enabled>
        <QueueName>.\Private$\Wolfpackerror</QueueName>
      </parameters>
    </component>
    
    <component id="IsNotepadRunning"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.WmiProcessRunningCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>IsNotepadRunning</FriendlyId>
        <Enabled>false</Enabled>
        <RemoteMachineId>localhost</RemoteMachineId>
        <ProcessName>notepad.exe</ProcessName>
        <!-- optional
        <RemoteUser></RemoteUser>
        <RemotePwd></RemotePwd>
        -->
      </parameters>
    </component>    
    
    <component id="IsWolfpackRunning"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.WmiProcessRunningCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>IsWolfpackRunning</FriendlyId>
        <Enabled>false</Enabled>
        <RemoteMachineId>localhost</RemoteMachineId>
        <ProcessName>Wolfpack.agent.exe</ProcessName>
        <!-- optional
        <RemoteUser></RemoteUser>
        <RemotePwd></RemotePwd>
        -->
      </parameters>
    </component>    
    
    <component id="WolfpackDatabaseHasResults"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.SqlScalarCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WolfpackDatabaseHasResults</FriendlyId>
        <Enabled>false</Enabled>
        <!-- This can be either the name of a connection string 
             (in config\data.connection.config) or an actual connection string -->
        <ConnectionString>Wolfpack</ConnectionString>
        <FromQuery>FROM dbo.AgentData WHERE EventType = 'Result'</FromQuery>
        <InterpretZeroRowsAsAFailure>true</InterpretZeroRowsAsAFailure>
        <PublishOnlyIfFailure>false</PublishOnlyIfFailure>
      </parameters>
    </component>    
    
    
    <component id="WindowsServicesAreRunning"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.WindowsServiceStateCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WindowsServicesAreRunning</FriendlyId>
        <Enabled>false</Enabled>
        <Services>
          <list>
            <!-- The display or short windows service name -->
            <item>DHCP Client</item>
            <item>DNS Client</item>
          </list>
        </Services>
        <!-- The name of the server (use . for local or leave blank)
             This can also be a remote server name -->
        <Server></Server>
        <!-- Valid states are: Running or Stopped -->
        <ExpectedState>Running</ExpectedState>
      </parameters>
    </component>    
        
    <component id="WindowsServicesStartupTypesCorrect"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.WindowsServiceStartupCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WindowsServicesStartupTypesCorrect</FriendlyId>
        <Enabled>false</Enabled>
        <Services>
          <list>
            <!-- The display or short windows service name -->
            <item>DHCP Client</item>
            <item>Computer Browser</item>
          </list>
        </Services>
        <!-- The name of the server (use . for local or leave blank)
             This can also be a remote server name -->
        <Server></Server>
        <!-- Valid startup types are: Auto, Manual & Disabled -->
        <ExpectedStartupType>Auto</ExpectedStartupType>
      </parameters>
    </component>
    
    <component id="UrlPingMySites"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.UrlPingCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>UrlPingMySites</FriendlyId>
        <Enabled>false</Enabled>
        <Urls>
          <list>
            <!-- Add urls as new item elements below -->
            <item>http://jimblogdog.blogspot.com</item>
          </list>
        </Urls>
        <!-- Set the maximum response time in milliseconds 
             Use 0 (zero) or blank to disable -->
        <FailIfResponseMillisecondsOver>1000</FailIfResponseMillisecondsOver>
        <!-- Set to --> 
        <PublishOnlyIfFailure>true</PublishOnlyIfFailure>
      </parameters>
    </component>
    
    <component id="LocalCpuMonitor"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.CpuCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>LocalCpuMonitor</FriendlyId>
        <Enabled>false</Enabled>
        <StreamData>true</StreamData>
        <Threshold></Threshold>
      </parameters>
    </component>
    
    <component id="SystemDriveFreeSpace"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.DiskSpaceCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>SystemDriveFreeSpace</FriendlyId>
        <Enabled>true</Enabled>
        <StreamData>true</StreamData>
        <Threshold></Threshold>
        <Drive>C:</Drive>
      </parameters>
    </component>
    
    <!-- END: CHECK CONFIGURATIONS -->
  </components>
</configuration>