<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Wolfpack" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Wolfpack;Integrated Security=SSPI;Persist Security Info=False;" />  
  <add name="Wolfpack-SQLite" connectionString="Data Source=Wolfpack.db3" />

  <add name="Trollr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Trollr;Integrated Security=SSPI;Persist Security Info=False;" />
</connectionStrings>
