<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="HostPing1Binding"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>HostPing1</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

    <component id="HostPing2Binding"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>HostPing2</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>    
    
    <component id="HostPing1"
				   lifestyle="transient"
				   type="Wolfpack.Core.Checks.HostPingCheck, Wolfpack.Core">
      <parameters>
        <friendlyName>HostPing1</friendlyName>
        <enabled>true</enabled>
      </parameters>
    </component>

    <component id="HostPing2"
				   lifestyle="transient"
				   type="Wolfpack.Core.Checks.HostPingCheck, Wolfpack.Core">
      <parameters>
        <friendlyName>HostPing2</friendlyName>
        <enabled>true</enabled>
      </parameters>
    </component>
    
  </components>
</configuration>
