<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<!-- Loads and enables NSB to handle monitor data -->
		<component id="BusBridgeConfig"
					 lifestyle="singleton"
					 type="Wolfpack.Core.Bus.BusConfig, Wolfpack.Core">
			<parameters>
				<Enabled>false</Enabled>
				<ErrorQueue>WolfpackError</ErrorQueue>
				<!-- The queue that the NSB publisher sends messages to. 
						 This should match the NSB publisher "OutputQueue" -->
				<InputQueue>WolfpackOutput</InputQueue>
			</parameters>
		</component>
	</components>
</configuration>