<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="AcceptanceBuildNotificationBinding" lifestyle="singleton"
                   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>AcceptanceBuildNotificationCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="AcceptanceBuildNotificationCheckConfig" lifestyle="singleton" 
               type="Wolfpack.Contrib.BuildAnalytics.Checks.TeamCityBuildNotificationCheckConfig, Wolfpack.Contrib.BuildAnalytics">
      <parameters>
        <FriendlyId>AcceptanceBuildNotification</FriendlyId>
        <Enabled>false</Enabled>
        <BuildServerUrl></BuildServerUrl>
        <UserId></UserId>
        <Password></Password>
        <UseSsl>false</UseSsl>
        <TrustDuffSslCertificate>false</TrustDuffSslCertificate>
        <ProjectName></ProjectName>
        <ConfigurationName></ConfigurationName>
      </parameters>
    </component>
	
	
   
    <component id="CoverageBuildNotificationBinding" lifestyle="singleton"
                   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>CoverageBuildNotificationCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>
    
    <component id="CoverageBuildNotificationCheckConfig" lifestyle="singleton" 
               type="Wolfpack.Contrib.BuildAnalytics.Checks.TeamCityBuildNotificationCheckConfig, Wolfpack.Contrib.BuildAnalytics">
      <parameters>
        <FriendlyId>CoverageBuildNotification</FriendlyId>
        <Enabled>false</Enabled>
        <BuildServerUrl></BuildServerUrl>
        <UserId></UserId>
        <Password></Password>
        <UseSsl>false</UseSsl>
        <TrustDuffSslCertificate>false</TrustDuffSslCertificate>
        <ProjectName></ProjectName>
        <ConfigurationName></ConfigurationName>
      </parameters>
    </component>   
  </components>
</configuration>