<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="AcceptanceParserConfig" lifestyle="singleton" 
               type="Wolfpack.Contrib.BuildAnalytics.Parsers.SpecFlowHtmlReportParserConfig, Wolfpack.Contrib.BuildAnalytics">
      <parameters>
        <FriendlyId>AcceptanceParserConfig</FriendlyId>
        <Enabled>false</Enabled>
        <TargetHealthCheckName>AcceptanceBuildNotification</TargetHealthCheckName>
        <ZipFileTemplate></ZipFileTemplate>
        <ReportFileTemplate></ReportFileTemplate>
      </parameters>
    </component>
  </components>
</configuration>