<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="2.16.2" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="Growl" version="0.6" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Magnum" version="2.0.1.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.37" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.37" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.37" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.37" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.37" targetFramework="net40" />
  <package id="StoryQ" version="2.0.5" />
</packages>