<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="SerialPortReceiverConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Contrib.HomeAutomation.SerialPortReceiverActivityConfig, Wolfpack.Contrib.HomeAutomation">
      <parameters>
        <Enabled>true</Enabled>
        <ComPort>COM3</ComPort>
      </parameters>
    </component>
  </components>
</configuration>