<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <components>
    <!-- LogParser Checks - Query parameter. Refer to the LogParser 
         help installed with LogParser for info on writing queries. -->
        
    <component id="EventLogUSER32Config" lifestyle="singleton" type="Wolfpack.Contrib.LogParser.EVTLogParserCheckConfig, Wolfpack.Contrib.LogParser">
      <parameters>
        <!-- 
        ===== true/false properties =====
        FullText
        ResolveSIDs
        FormatMsg
        FullEventCode
        ===== string properties =====
        BinaryFormat = ASC | PRINT | HEX
        CheckpointFile = checkpoint filename, eg:C:\Temp\myCheckpoint.lpc 
        StringsSep = any string, separator between values of the "Strings" field
        MsgErrorMode = NULL | ERROR | MSG
        Direction = FW | BW        
        -->
        <Enabled>false</Enabled>
        <FriendlyId>EventLogUSER32</FriendlyId>
        <NotificationMode></NotificationMode>
        <!-- GenerateArtifacts=true will save the logparser results to disc as csv for later pickup -->
        <GenerateArtifacts>true</GenerateArtifacts>
        <Query>select top 500 FROM System WHERE SourceName='USER32'</Query>        
        <InterpretZeroRowsAsAFailure>false</InterpretZeroRowsAsAFailure>
      </parameters>
    </component>
  </components>
</configuration>