<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="WebServiceConfig"
						lifestyle="singleton"
						type="Wolfpack.Core.WebServices.Interfaces.Entities.WebServiceActivityConfig, Wolfpack.Core.WebServices.Interfaces">
			<parameters>
				<Enabled>true</Enabled>
				<BaseUrl>http://*:802/</BaseUrl>        
				<ApiKeys>
					<list>
						<!-- Add keys here to secure the api, you can add as many as you like...
						just ensure you supply one of these in the ApiKey setting of 
						webservice.publisher.castle.config or you will get 401 Unauthorised -->
						<!--<item>some_secret_key</item>-->
					</list>
				</ApiKeys>
			</parameters>
		</component>
	</components>
</configuration>