<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="WebServicePublisherConfig"
						lifestyle="singleton"
						type="Wolfpack.Core.WebServices.Interfaces.Entities.WebServicePublisherConfig, Wolfpack.Core.WebServices.Interfaces">
			<parameters>
				<Enabled>true</Enabled>
				<BaseUrl>http://localhost:802/</BaseUrl>
				<BaseFolder>_outbox</BaseFolder>
				<UserAgent>Wolfpack</UserAgent>
				<!-- if you have added ApiKeys to webservice.server.castle.config
				 then ApiKey must match one of these - otherwise you will get 
				 "Unauthorised" exceptions when calling the webserive api...it 
				 is recommended to use SSL to ensure ApiKey remains secret -->
				<ApiKey></ApiKey>
			</parameters>
		</component>
	</components>
</configuration>