<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="BusPublisherConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Bus.BusPublisherConfig, Wolfpack.Core">
      <parameters>
        <Enabled>false</Enabled>
        <FriendlyId>NServiceBus</FriendlyId>
        <ErrorQueue>WolfpackError</ErrorQueue>
        <InputQueue>WolfpackInput</InputQueue>
        <OutputQueue>WolfpackOutput</OutputQueue>
        <!-- Only required if using the Http Gateway
             This value is injected into the NSB message header in 
             order for the gateway service to route it to the correct server.
             Leave out (or blank) to ensure this is not set -->
        <HttpGatewayUri></HttpGatewayUri>
      </parameters>
    </component>
  </components>
</configuration>