<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- This component publishes to the file system -->
    <component id="FileSystemBridgePublisherConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Bridge.FileSystem.FileSystemBridgePublisherConfig, Wolfpack.Core">
      <parameters>
        <Enabled>false</Enabled>
        <FriendlyId>FileSysBridge</FriendlyId>
        <Folder>\\tsclient\v\wolfpackdata</Folder>
      </parameters>
    </component>

    <!-- This component sweeps the file system and forwards 
         messages backing into the message bus -->
    <component id="FileSystemBridgeCheckConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Bridge.FileSystem.FileSystemBridgeCheckConfig, Wolfpack.Core">
      <parameters>
        <Enabled>false</Enabled>
        <FriendlyId>FileSysBridgeCheck</FriendlyId>
        <Folder>\\tsclient\v\wolfpackdata</Folder>
      </parameters>
    </component>

    <!-- This sets the schedule for the FileSystemBridgeCheckConfig 
         component -->
    <component id="FileSystemBridgeCheckBindingConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Interfaces.Entities.BindingConfiguration, Wolfpack.Core.Interfaces">
      <parameters>
        <HealthCheckConfigurationName>FileSystemBridgeCheckConfig</HealthCheckConfigurationName>
        <ScheduleConfigurationName>EveryMinute</ScheduleConfigurationName>
      </parameters>
    </component>

  </components>
</configuration>