{
  "Name": "GrowlPublisher",
  "Description": "This will publish Notifications to Growl.",
  "InterfaceType": null,
  "ConfigurationType": "Wolfpack.Core.Growl.GrowlConfiguration, Wolfpack.Core",
  "PluginType": "Wolfpack.Core.Growl.GrowlPublisher, Wolfpack.Core",
  "Data": "{\"IconFile\":\"growl\\\\agent.png\",\"AppId\":\"Wolfpack\",\"NotificationId\":\"HealthCheck\",\"NotificationTitle\":\"Platform HealthCheck\",\"Hostname\":\"\",\"Password\":\"\",\"Port\":23053,\"FriendlyId\":\"GrowlPublisher\",\"Enabled\":true}",
  "Tags": [
    "Publisher",
    "Growl"
  ],
  "RequiredProperties": {
    "Name": "GrowlPublisher"
  }
}
