{
  "Name": "GrowlPublisher",
  "Description": "This will publish Notifications to Growl.",
  "InterfaceType": null,
  "ConcreteType": "Wolfpack.Core.Growl.GrowlConfiguration, Wolfpack.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "Data": "{\"IconFile\":\"growl\\agent.png\",\"AppId\":\"Wolfpack\",\"NotificationId\":\"HealthCheck\",\"NotificationTitle\":\"Platform HealthCheck\",\"Hostname\":\"\",\"Password\":\"\",\"Port\":23053,\"FriendlyId\":\"GrowlPublisher\",\"Enabled\":true}",
  "Tags": [
    "Publisher",
    "Growl"
  ],
  "RequiredProperties": {
    "Name": "GrowlPublisher"
  }
}
