<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="GrowlConfiguration"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Growl.GrowlConfiguration, Wolfpack.Core">
      <parameters>
        <Enabled>true</Enabled>
        <FriendlyId>Growl</FriendlyId>
        <AppId>Wolfpack</AppId>
        <NotificationId>HealthCheck</NotificationId>
        <NotificationTitle>Platform HealthCheck</NotificationTitle>
        <IconFile>growl\agent.png</IconFile>
        <!-- optional params  
				<Password></Password>
				<Hostname></Hostname>
				<Port></Port>
				-->
      </parameters>
    </component>    
  </components>
</configuration>