{
  "Name": "SQLitePublisher",
  "Description": "Publishes Notification events to a SQLite database",
  "InterfaceType": null,
  "ConcreteType": "Wolfpack.Core.Database.SQLite.SQLiteConfiguration, Wolfpack.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "Data": "{\"ConnectionString\":\"Wolfpack-SQLite\",\"FriendlyId\":\"SQLitePublisher\",\"Enabled\":false}",
  "Tags": [
    "Publisher",
    "SQLite"
  ],
  "RequiredProperties": {
    "Name": "SQLitePublisher"
  }
}
