<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="SQLiteConfiguration"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Database.SQLite.SQLiteConfiguration, Wolfpack.Core">
      <parameters>
        <Enabled>false</Enabled>
        <FriendlyId>SQLite</FriendlyId>
        <!-- This can be either the name of a connection string 
             (in config\data.connection.config) or an actual connection string -->
        <ConnectionString>Wolfpack-SQLite</ConnectionString>
      </parameters>
    </component>  
  </components>
</configuration>