{
  "Name": "SqlServerPublisher",
  "Description": "Publishes Notification events to a SqlServer compatible database",
  "InterfaceType": null,
  "ConcreteType": "Wolfpack.Core.Database.SqlServer.SqlServerConfiguration, Wolfpack.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "Data": "{\"ConnectionString\":\"Wolfpack\",\"SchemaName\":\"dbo\",\"FriendlyId\":\"SqlServerPublisher\",\"Enabled\":false}",
  "Tags": [
    "Publisher",
    "SqlServer"
  ],
  "RequiredProperties": {
    "Name": "SqlServerPublisher"
  }
}
