<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="SqlServerConfiguration"
					 lifestyle="singleton"
					 type="Wolfpack.Core.Database.SqlServer.SqlServerConfiguration, Wolfpack.Core">
			<parameters>
				<Enabled>false</Enabled>
				<FriendlyId>SqlServer</FriendlyId>
				<!-- This can be either the name of a connection string 
						 (in config\data.connection.config) or an actual connection string -->
				<ConnectionString>Wolfpack</ConnectionString>
				<!-- Set this to true to store just the last result or false (or remove it)
						 to store a history of results (if you wanted to graph something) -->
				<Overwrite>false</Overwrite>
				<!-- The schema the AgentData table is in. -->
				<SchemaName>dbo</SchemaName>
			</parameters>
		</component>
	</components>
</configuration>