<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WcfPublisherConfiguration"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Wcf.WcfPublisherConfiguration, Wolfpack.Core">
      <parameters>
        <Enabled>false</Enabled>
        <FriendlyId>Wcf</FriendlyId>
        <Uri>http://localhost:802/Wolfpack</Uri>
      </parameters>
    </component>
  </components>
</configuration>