body 
{
    background-color: #3A3A3A;
    color: #cacaca;
}

.periscope-panel-container 
{
	margin: 10px;
	height: 100%;
	width: 100%;
}
.periscope-panel 
{
	border: 1px;
	height: 100%;
	width: 100%;
}

.widget-container
{
	display: inline-block;
}