{
  "Name": "SignalR-Host",
  "Description": "This activity hosts SignalR - Wolfpack notifications are rebroadcast to all connected clients.",
  "InterfaceType": null,
  "ConcreteType": "Wolfpack.Core.SignalR.Interfaces.Entities.SignalRActivityConfig, Wolfpack.Core.SignalR, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "Data": "{\"BaseUrl\":\"http://*:803/\",\"Enabled\":true}",
  "Tags": [
    "Activity",
    "SignalR",
    "Publisher",
    "Running"
  ],
  "RequiredProperties": {
    "Name": "SignalR-Host"
  }
}
