<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="SystemDriveFreeSpace"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.DiskSpaceCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>SystemDriveFreeSpace</FriendlyId>
        <Enabled>false</Enabled>
        <StreamData>true</StreamData>
        <Threshold>80</Threshold>
        <Drive>C:</Drive>
        <!-- leave blank for local or set to remote machine name -->
        <MachineName></MachineName>
      </parameters>
    </component>
  </components>
</configuration>
  