<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="LocalCpuMonitor"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.CpuCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>LocalCpuMonitor</FriendlyId>
        <Enabled>false</Enabled>
        <StreamData>true</StreamData>
        <Threshold></Threshold>
        <!-- leave blank for local or set to remote machine name -->
        <MachineName></MachineName>
      </parameters>
    </component>
  </components>
</configuration>
  