<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="MyHelloWorldCheckConfig"
         lifestyle="singleton"
         type="HelloWorldHealthCheck.HelloWorldCheckConfig, HelloWorldHealthCheck">
      <parameters>
        <FriendlyId>HelloWorldCheck</FriendlyId>
        <Enabled>false</Enabled>
        <MyCustomSetting>Hello World!!</MyCustomSetting>
      </parameters>
    </component> 
  </components>
</configuration>
  