<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WolfpackOutputQueueInfoConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.MsmqQueueInfoCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WolfpackOutputQueueInfo</FriendlyId>
        <Enabled>false</Enabled>
        <QueueName>.\Private$\Wolfpackoutput</QueueName>
      </parameters>
    </component>
  </components>
</configuration>
  