<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WolfpackErrorQueueEmptyConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.MsmqQueueNotEmptyCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WolfpackErrorQueueEmpty</FriendlyId>
        <Enabled>false</Enabled>
        <QueueName>.\Private$\Wolfpackerror</QueueName>
      </parameters>
    </component>
  </components>
</configuration>
  