<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WolfpackDatabaseHasResults"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.SqlScalarCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WolfpackDatabaseHasResults</FriendlyId>
        <Enabled>false</Enabled>
        <!-- This can be either the name of a connection string 
             (in config\data.connection.config) or an actual connection string -->
        <ConnectionString>Wolfpack</ConnectionString>
        <FromQuery>FROM dbo.AgentData WHERE EventType = 'Result'</FromQuery>
        <InterpretZeroRowsAsAFailure>true</InterpretZeroRowsAsAFailure>
        <PublishOnlyIfFailure>false</PublishOnlyIfFailure>
      </parameters>
    </component>
  </components>
</configuration>
  