<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="UrlPingMySites"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.UrlPingCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>UrlPingMySites</FriendlyId>
        <Enabled>false</Enabled>
        <Urls>
          <list>
            <!-- Add urls as new item elements below -->
            <item>http://jimblogdog.blogspot.com</item>
          </list>
        </Urls>
        <!-- Set the maximum response time in milliseconds 
             Use 0 (zero) or blank to disable -->
        <FailIfResponseMillisecondsOver>1000</FailIfResponseMillisecondsOver>
        <!-- Set to -->
        <PublishOnlyIfFailure>true</PublishOnlyIfFailure>
      </parameters>
    </component>
  </components>
</configuration>
  