<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WindowsServicesStartupTypesCorrect"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.WindowsServiceStartupCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WindowsServicesStartupTypesCorrect</FriendlyId>
        <Enabled>false</Enabled>
        <Services>
          <list>
            <!-- The display or short windows service name -->
            <item>DHCP Client</item>
            <item>Computer Browser</item>
          </list>
        </Services>
        <!-- The name of the server (use . for local or leave blank)
             This can also be a remote server name -->
        <Server></Server>
        <!-- Valid startup types are: Auto, Manual & Disabled -->
        <ExpectedStartupType>Auto</ExpectedStartupType>
      </parameters>
    </component>
  </components>
</configuration>
  