<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WolfpackExeFileInfoConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.FileInfoCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>FileInfoCheck</FriendlyId>
        <Enabled>false</Enabled>
        <FileLocation>Wolfpack.agent.exe</FileLocation>
      </parameters>
    </component>
  </components>
</configuration>
  