<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WolfpackFolderInfoConfig"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.FolderInfoCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>FolderInfoCheck</FriendlyId>
        <Enabled>false</Enabled>
        <FolderLocation></FolderLocation>
      </parameters>
    </component>
  </components>
</configuration>
  