<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="HostPing"
					 lifestyle="transient"
					 type="Wolfpack.Core.Checks.HostPingCheck, Wolfpack.Core">
			<parameters>
				<friendlyName>HostPingCheck</friendlyName>
				<enabled>false</enabled>
				<publishOnlyIfFailure>true</publishOnlyIfFailure>
				<!-- timeout in milliseconds to wait for the ICMP echo reply message -->
				<timeout>200</timeout>
				<hosts>
					<list>
						<item>localhost</item>
					</list>
				</hosts>
			</parameters>
		</component>    
	</components>
</configuration>
