<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="IsNotepadRunning"
					 lifestyle="singleton"
					 type="Wolfpack.Core.Checks.WmiProcessRunningCheckConfig, Wolfpack.Core">
			<parameters>
				<FriendlyId>IsNotepadRunning</FriendlyId>
				<Enabled>true</Enabled>
				<RemoteMachineId>localhost</RemoteMachineId>
				<ProcessName>notepad.exe</ProcessName>
				<!-- optional
				<RemoteUser></RemoteUser>
				<RemotePwd></RemotePwd>
				-->
			</parameters>
		</component>
	</components>
</configuration>
	