<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="IsProgramRunning"
					 lifestyle="singleton"
					 type="Wolfpack.Core.Checks.WmiProcessRunningCheckConfig, Wolfpack.Core">
			<parameters>
				<FriendlyId>IsProgramRunning</FriendlyId>
				<Enabled>false</Enabled>
				<RemoteMachineId>localhost</RemoteMachineId>
				<ProcessName>program.exe</ProcessName>
				<!-- optional
				<RemoteUser></RemoteUser>
				<RemotePwd></RemotePwd>
				-->
			</parameters>
		</component>
	</components>
</configuration>
	