<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="WindowsServicesAreRunning"
				   lifestyle="singleton"
				   type="Wolfpack.Core.Checks.WindowsServiceStateCheckConfig, Wolfpack.Core">
      <parameters>
        <FriendlyId>WindowsServicesAreRunning</FriendlyId>
        <Enabled>false</Enabled>
        <Services>
          <list>
            <!-- The display or short windows service name -->
            <item>DHCP Client</item>
            <item>DNS Client</item>
          </list>
        </Services>
        <!-- The name of the server (use . for local or leave blank)
             This can also be a remote server name -->
        <Server></Server>
        <!-- Valid states are: Running or Stopped -->
        <ExpectedState>Running</ExpectedState>
      </parameters>
    </component>
  </components>
</configuration>
  