<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="SignalRActivityConfig"
						lifestyle="singleton"
						type="Wolfpack.Core.SignalR.Interfaces.Entities.SignalRActivityConfig, Wolfpack.Core.SignalR">
			<parameters>
				<Enabled>true</Enabled>
				<BaseUrl>http://*:803/</BaseUrl>
			</parameters>
		</component>
	</components>
</configuration>